@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
html ,body{
	margin: 0;
	padding: 0;
	width: 100%;
	background: hsl(30, 38%, 92%);
}
.main{
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
}
.child1{
	height: 65%;
	width: 20%;
}
img{
	width: 100%;
	height: 100%;
	border-radius: 10px 0 0 10px;
}
.child2{
	height: 65%;
	width: 20%;
	background:hsl(0, 0%, 100%);
	border-radius: 0 10px 10px 0;
}
.Perfume{
	font-family:'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 13px;
	padding: 10% 0 0 10%;
	color: hsl(228, 12%, 48%);
	margin-bottom: -20px;

}
.gab{
	font-size: 40px;
	padding-left: 25px;
	font-weight: 700;
	font-family:'Fraunces', sans-serif;
	line-height: 40px;
}
.par{
	margin-top: -20px;
	font-size: 14px;
	padding: 0 10% 0 10%;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
	font-family:'Montserrat', sans-serif;
	line-height: 25px;
}
ul{
	list-style: none;
	display: flex;
	gap:8%;
}
.d1{
	font-size: 35px;
	font-family:'Fraunces', sans-serif;
	font-weight: 700;
	color:  hsl(158, 36%, 37%);
	margin-left: -10px;
}
.d2{
	margin-top: 5%;
	font-family:'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: hsl(228, 12%, 48%);
}
button{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
	background: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	border:none;
	border-radius: 8px;
	font-family:'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 30px;
	padding: 1% 0 1% 0;
}
button:hover{
	background-color: hsl(158, 42%, 18%);
}

@media (max-width: 800px)
{
	.main{
		display: block;
		margin:10% 10% 10% 10%;
	}
	.child1{
		width: 50vmax;
		height: 50vmax;
	}
	.child1 img{
		content:url("image-product-mobile.jpg");
		  border-radius: 10px 10px 0 0;
	}
	.child2{
		width: 50vmax;
		height: 55vmax;
		 border-radius: 0  0 10px 10px;
	}
	.gab{
		font-size: 7vw;
		margin-top: 5vh;
		line-height: 5vh;
		margin-bottom: 6vmax;
	}
	.par{
		line-height: 3vh;
		font-size: 2vmax;
	}
	ul{
		display: flex;
		gap:15vw;
		margin-left: 14px;
	}
	button{
	width:60vw;	
	margin-left: 50px;
	}
}