:root {
    --color1: hsl(0, 78%, 62%);
    --color2: hsl(180, 62%, 55%);
    --color3: hsl(34, 97%, 64%);
    --color4: hsl(212, 86%, 64%);
    --color5: hsl(234, 12%, 34%);
    --color6: hsl(212, 6%, 44%);
    --color7: hsl(0, 0%, 100%);
}

body.html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;

}

.par1 {
    font-size: 29px;
    text-align: center;
    margin-top: 70px;
    color: var(--color6);
}

.par2 {
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
}

.par3 {
    font-size: 15px;
    margin-top: -15px;
    margin-left: 550px;
    margin-right: 520px;
    text-align: center;
    color: var(--color6);
}


.box {
    position: relative;
    height: 100px;
    width: 100px;
    margin-left: 40px;

    background-color: var(--color7);
    border-radius: 10px;
    box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.1);
}

.item2,
.item3 {
    display: block;

    left: 605px;
    height: 200px;
    width: 300px;
    margin: 40px 20px;
    top: -210px;
}

.item1 {

    top: 150px;
    height: 200px;
    width: 300px;
    left: 260px;
}

.item4 {

    height: 200px;
    width: 300px;
    left: 910px;
    top: -570px
}

.p1 {
    background-color: var(--color2);
    height: 3px;
    border-radius: 10px 10px 0 0;
}

.p2 {
    background-color: var(--color1);
    height: 3px;
    border-radius: 10px 10px 0 0;
}

.p3 {
    background-color: var(--color3);
    height: 3px;
    border-radius: 10px 10px 0 0;
}

.p4 {
    background-color: var(--color4);
    height: 3px;
    border-radius: 10px 10px 0 0;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    margin: 25px 0 0 20px;
}

.par4 {
    margin: 25px 0 0 20px;
    color: var(--color6);
}

.img {
    width: 44px;
    margin: 15px 0 0 235px;
}

@media only screen and (max-width:1400px) {

    html,
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    .par3 {
        width: 30vw;
        margin-left: 447px;
    }

    .item1 {
        left: 135px;
    }

    .item2,
    .item3 {
        display: block;
        left: 478px;
    }

    .item4 {
        left: 782px;
    }
}

@media only screen and (max-width:1100px) {

    html,
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    .par3 {
        width: 35vw;
        margin-left: 356px;
    }

    .item1 {
        left: 54px;
    }

    .item2,
    .item3 {
        left: 393px;
    }

    .item4 {
        left: 693px;
    }
}

@media only screen and (max-width:900px) {

    html,
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;

    }

    .par1 {
        font-size: 26px;
        margin-bottom: 17px;
        margin-left: 3%;

    }

    .par2 {
        font-size: 29px;
        margin-left: 3%;
    }

    .par3 {

        position: static;
        width: 250px;
        margin: 27px auto;
        margin-top: -18px;
    }

    .main-co {
        grid-template-columns: 1fr;
    }

    .item1,
    .item2,
    .item3,
    .item4 {
        position: static;
        width: 300px;
        margin: 27px auto;
    }

    .item1 {
        margin-top: 35px;
    }
}