body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: hsl(225, 100%, 94%);
}

.main {
    display: block;
}

.box {

    height: 550px;
    width: 350px;
    position: absolute;
    background-color: white;
    top: 40%;
    left: 50%;
    border-radius: 18px;
    transform: translate(-50%, -50%);
}

.img {
    border-radius: 15px 15px 0 0;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.par {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    margin: 10px 50px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 15px;


}

ul {
    list-style: none;
    display: block;
    margin-left: -20px;
}

.first {
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;

}

.seco {
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
}

.mus {
    display: flex;
    gap: 70px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 10px 40px;
    padding: 8px;
    width: 80%;
    margin-left: 28px;

}


.music {

    margin-top: -1px;
    padding: 10px;
    margin-right: -50px;

    width: 5px;
    height: 5px;

}

.cha {
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 25px;
    font-size: 11px;
    color: hsl(245, 75%, 52%);
}

button {
    margin-left: 32px;
    border: none;
    width: 83%;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 20px;
    box-shadow: 0 10px 15px rgba(71, 104, 114, 0.34);

}

.bu {
    margin-top: 10px;
    font-weight: 900;
}

.can {
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    margin-top: 22px;
}

.attribution {
    color: hsl(228, 45%, 44%);
    font-size: 0.6875rem;
    position: absolute;
    top: 134%;
    left: 39%;
    font-size: 15px;
}

@media only screen and (max-width:1350px) {

    body,
    html {

        min-height: 100vh;
        height: auto;
    }

    .bg {
        content: url(pattern-background-mobile.svg);
        width: 100vw;
        height: 100vh;

    }

    /* .box {
        margin-top: -190px;

    } */

    .attribution {
        display: none;
    }

    /* 
    .box {

        height: 550px;
        width: 350px;
        position: absolute;
        background-color: white;
        top: 70%;
        left: 50%;
        border-radius: 18px;
        transform: translate(-50%, -50%);
    } */
}