@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --color1: hsl(171, 66%, 44%);
    --color2: hsl(233, 100%, 69%);
    --color3: hsl(210, 10%, 33%);
    --color4: hsl(201, 11%, 66%);
    --color5: hsl(201, 11%, 95%);
    --font: 'Bai Jamjuree', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background-image: url("bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 200% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log {
    margin: 28px auto;
    width: 100px;
}

.log1 {
    width: 60%;
    height: auto;
    margin-left: 230%;

}

.hed {
    color: var(--color3);
    font-size: 30px;
    text-align: center;
}

.hed1 {
    margin-top: -13px;
}

.par {
    color: var(--color4);
    margin: 37px auto;
    width: 36%;
    text-align: center;
    line-height: 24px;
}

.par1 {

    margin-top: 12px;
}

.buu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bu {
    padding: 13px 40px;
    border-radius: 50px;
    margin-left: 0;
    border: none;
    color: white;
}

.bu1 {
    background-color: var(--color1);
    box-shadow: 0 8px 15px hsla(171, 66%, 44%, 0.35);
}

.bu2 {
    background-color: var(--color2);
    box-shadow: 0 8px 15px hsla(233, 100%, 69%, 0.35);
}

.hed2 {
    margin-top: 112px;
}

.par2 {
    margin-top: 18px;
    width: 40%;
}

.main2 {
    display: flex;
    gap: 30px;
    width: 100%;
}

div .com1 {
    width: 58%;
    margin-left: 205px;
}

.hed3 {
    display: flex;
    align-items: flex-start;
    width: 48%;
    margin-top: 26px;
    font-size: 25px;
    margin-left: -158px;
}

.par3 {
    width: 74%;
    margin-top: 4px;
    margin-left: -161px;
    text-align: left;
    line-height: 26px;

}

.hed4 {
    margin-top: 88px;

}

.par4 {
    margin-top: 17px;
    width: 39%;
    margin-top: 0;
}

.com2 {
    width: 55%;
    margin: 10px 298px 0 298px;
}

.hed5 {
    font-size: 20px;
}

.main3 {
    display: flex;
    gap: 1px;

    margin: 10px 186px
}

.svg {
    margin: 11px 170px 28px 170px;
}

.par5 {
    width: 93%;
    line-height: 27px;
}

.main4 {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}

.hed6 {
    margin-top: 128px;
}

.par6 {
    margin-top: 24px;
    margin-bottom: 45px;
    width: 40%;
}

.con {
    width: 100%;
}

.fu {
    background-color: var(--color5);
    width: 100%;
    padding: 20px;
    margin-top: 110px;
    height: 120px;

}

.log_1 {
    margin: auto;
    padding: 7px 5px;
}

.log2 {
    width: 44px;
    margin-left: 281px;
    margin-top: 22px;
}

.gri {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 37px 5px;
    justify-items: start;

}

.par7 {

    margin-top: -100px;

}

.icon {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-bottom: 30px;
    margin-top: -145px;
}

.ins {
    margin-right: 143px;

}

@media only screen and (max-width: 1100px) {
    body {
        background-size: 400% 3%;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        background-size: 700% 3%;

    }

    .log1 {
        margin-left: 249%;
    }

    .hed {
        margin-left: 50%;
        width: 71%;
    }

    .par {
        margin-left: 67%;
        margin-top: 30px;
    }

    .par3 {
        width: 50%;
        margin-left: 38%;
        text-align: center;
    }

    .main2,
    .main4,
    .buu,
    .had {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin: 0 auto; */
        text-align: center;
        align-items: center;
        margin-left: 187px;
    }

    .main4 {
        margin-top: 65px;
        width: 113%;
    }

    .buu {
        margin-top: 65px;
        width: 113%;
    }

    div .com1 {
        width: -2%;
        margin-left: 58px;
    }

    .com2 {
        width: 76%;
        margin-left: 47%;
        margin-top: 57px;

    }

    .svg {
        width: 80px;
        margin-left: 57%;
    }

    .hed3 {
        margin-left: 39%;
    }

    .par3 {
        margin-left: 29%;
    }

    .hed5 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 30%;
        margin-left: 191px;
        margin-top: 30px;
    }

    .par5 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 43%;
        margin-left: 283px;
    }

    .part1,
    .part2,
    .part3 {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 20px -55px;
        align-items: center
    }

    .fu {
        height: auto;
        max-width: 120vmax;
        width: 200vmax;
        margin-top: 50px;
        padding-right: 30%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;

    }

    .main3 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
        margin: 20px 200px;
    }

    .gri {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        align-items: center;
        width: 100%;
    }

    .par7 {
        margin: 0;
        font-size: 18px;
    }

    .log2 {
        margin: 0 auto;
        display: block;
        width: 55px;
    }

    .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin: 0 auto;

        padding: 0;
    }

    .ins {
        margin-right: 0;
    }

}