@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

:root {
    --color1: hsl(47, 88%, 63%);
    --color2: hsl(0, 0%, 100%);
    --color3: hsl(0, 0%, 42%);
    --color4: hsl(0, 0%, 7%);
    --wght1: 500;
    --wght2: 800;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

body,
html {
    background-color: var(--color1);
    margin: 2% 26%;

}

.main {
    width: 340px;
    height: 470px;
    background-color: var(--color2);
    border-radius: 20px;
    box-shadow: 8px 9px 0px rgb(0, 0, 0);
    border: 2px solid var(--color3);


}

.img {
    width: 300px;
    margin: 20px;
    border-radius: 20px;
}

.p1 {
    background-color: var(--color1);
    color: var(--color4);
    font-family: var(--font);
    display: inline;
    margin: 5px 23px;
    padding: 4px;
    border-radius: 5px;
    font-weight: var(--wght2);
}

.p2 {
    font-size: 15px;
    font-weight: var(--wght1);
    margin: 15px 20px;
}

.p3 {
    font-size: 25px;
    font-weight: var(--wght2);
    margin: 15px 20px;
}

.p4 {
    /* font-size: 10px; */
    font-weight: var(--wght1);
    margin: 23px 20px;
    color: var(--color3);
}

.p5 {
    margin-top: 8px;
    font-size: 11px;
    font-weight: var(--wght2);
}

.main1 {
    display: flex;
    gap: 10px;
    margin: 15px 25px;

}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 20px;
    width: 300px;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:1115px) {

    html,
    body {
        margin: 2% 18%;
    }
}

@media (max-width:650px) {

    html,
    body {
        margin: 2% 3%;
    }
}