:root {
    --color1: hsl(233, 47%, 7%);
    --color2: hsl(244, 37%, 16%);
    --color3: hsl(277, 64%, 61%);
    --color4: hsl(0, 0%, 100%);
    --color5: hsla(0, 0%, 100%, 0.75);
    --color6: hsla(0, 0%, 100%, 0.6);
    --font1: "Inter", sans-serif;
    --font2: "Lexend Deca", sans-serif;
    --wght1: 400;
    --wght2: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color1);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.div1 {
    width: 302px;
    height: 214px;
    background-color: var(--color2);
    padding: 40px;
    border-radius: 10px 0 0 10px;

}

h1 {
    color: var(--color4);
    font-family: var(--font1);
    font-size: 28px;
    font-weight: var(--wght2);
}

p {
    color: var(--color5);
    line-height: 20px;
    font-family: var(--font2);
    font-size: 12px;
    padding-top: 25px;
}


.tr1 {
    display: flex;
    flex-direction: column;

}

.tr {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    color: var(--color4);
    font-weight: var(--wght2);
    font-family: var(--font1);
}

.text {
    font-size: 10px;
    font-weight: var(--wght1);
    color: var(--color5);
    letter-spacing: 1px;
    margin-top: 7px;
    font-family: var(--font2);
}

.mobile_img {
    display: none;
}

.div2 {
    position: relative;
    background-color: var(--color3);
    border-radius: 0 10px 10px 0;

}

.div2 img {
    border-radius: 0 10px 10px 0;
    width: 350px;
    filter: blur();
    opacity: 0.4;
}

@media (max-width:750px) {
    .desktop_img {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .mobile_img {
        display: block;

    }

    .div2 img {
        border-radius: 10px 10px 0 0;
    }

    .div2 {
        order: -1;
        border-radius: 10px 10px 0 0;
    }

    .div1 {
        height: 420px;
        width: 272px;
        margin-bottom: 5%;

        border-radius: 0 0 10px 10px;
    }

    h1 {
        text-align: center;
    }

    p {
        margin: 0 30px 0 20px;
        text-align: center;
    }

    .tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }




}